@import "starter";
@import "partials";
@import "pages";


// append-around
.header .main-nav {
  display: none;
}

@include at-breakpoint(860px) {
  .outside .main-nav {
    display: none;
  }
  .header .main-nav {
    display: block;
  }
}
