= javascript_include_tag \
  "/vender/modernizr.js", \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  # "//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js", \
  # "//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js", \
  # "//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js", \
  "/vender/appendAround.js", \
  "/vender/jquery.hc-sticky.min.js", \
  "bootstrap-mod.js", \
  # "page-change", \
  "off-canvas", \
  "all"
