= javascript_include_tag \
  "/vender/modernizr.js", \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vender/appendAround.js", \
  "/vender/jquery.hc-sticky.min.js", \
  "/vender/jquery.magnific_popup.min.js", \
  "/vender/bootstrap.min.js", \
  "/vender/stepper.js", \
  "off-canvas", \
  "animation", \
  "all"