script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"
= javascript_include_tag \
  "/vender/modernizr.js", \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vender/appendAround.js", \
  "/vender/jquery.hc-sticky.min.js", \
  "/vender/chart.min.js", \
  "chart-data.js", \
  "bootstrap-mod", \
  "stepper", \
  "off-canvas", \
  "all"