.button-group {
  text-align: center;
  button, .button, a.button {
    display: inline-block;
  }
}
button, .button, a.button {
  @include unstyled-link;
  display: inline-block;
  text-align: center;
  margin: rhythm(.5) 0;
  padding: .75em 24px;
  border: none;
  background-color: $color-orange;
  background-image: none;
  color: white;
  text-shadow: none;
  @include adjust-font-size-to(13px);
  font-family: "AvenirNext-Regular", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  @extend %subpixel;
  @include border-radius(5px);
  @include transition(.5s);

  // 狀態
  &:hover {
    background-image: none;
    background-color: darken($color-orange, 5%);
    color: white;
  }
  &.action {
    background-color: black;
    color: white;
    &:hover {
      background-color: $color-green;
      color: white;
    }
  }
  &.danger {
    background-color: $color-red;
  }
  &.disable {
    background-color: #ccc;
    color: #888;
  }
  &.active {
    background-color: $color-lighter-gray;
    color: #333;
    cursor: default;
  }

  & + & {
    margin-left: 1em;
  }

  &.right {
    float: right;
  }
  &.left {
    float: left;
  }

}
