.footer {

  background-color: $footer-bg-color;
  padding: rhythm(2) 0 rhythm(0);
  font-weight: 800;

  .footer-info-group {
    @include pie-clearfix;
  }

  .footer-title {
    @include adjust-font-size-to(20px);
    line-height: 1em;
    @include trailer(1);
    color: $footer-title-color;
    @extend %subpixel;
  }
  .footer-text {
    @include trailer(1);
    color: $footer-color;
    @include adjust-font-size-to(14px);
  }

  .footer-list {
    @include reset-box-model;
    @include trailer(1);
    list-style: none;
    color: $footer-color;
    li {
      @include trailer(.5);
      @include adjust-font-size-to(14px, 3/4);
    }
    a {
      color: $footer-color;
      &:hover {
        text-decoration: none;
      }
    }
    .title {
      @include ellipsis;
    }
    .meta {
      @include leader(.125);
      color: darken($footer-color, 25%);
    }
  }

  .footer-bottom {
    @include pie-clearfix;
    @include trailer(1);
    // @include padding-leader(1);
    // border-top: 1px solid $footer-divider-color;
  }

  .copyright {
    @include adjust-font-size-to(14px);
    text-align: center;
    color: $footer-color;
    @include trailer(1);
  }

  .company-info {
    @include adjust-font-size-to(14px);
    text-align: center;
    color: $footer-color;
    @include trailer(1);
    ul {
      @include reset-box-model;
      @include pie-clearfix;
      list-style: none;
    }
    li {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }



  .footer-links {
    @include reset-box-model;
    @include pie-clearfix;
    list-style: none;
    text-align: center;
    li {
      @include adjust-font-size-to(14px);
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: darken($footer-color, 15%);
      &:hover {
        text-decoration: none;
        color: lighten($footer-color, 25%);
      }
    }
  }


  @include at-breakpoint($desktop) {
    .left-info {
      float: left;
    }
    .right-info {
      float: right;
    }
    .footer-links {
      text-align: left;
    }
    .company-info {
      text-align: right;
    }
  }

}
