.header {
  position: relative;
  z-index: 1500; // for cacaFly hero background.
  background-color: rgba( white, 1 );
  @include transition(background-color .5s);
  .logo {
    float: left;
    @include adjust-font-size-to(22px, 2);
    font-weight: bold;
    @include transition(.5s);
    a {
      display: block;
      color: black;
      @include replace-text-with-svg("logo-small");
      @include transition(width .5s);
      @include background-size(contain);
      @include at-breakpoint(1020px) {
        margin: auto;
        @include replace-text-with-svg("logo");
      }
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .menu-btn {
    float: right;
    margin: 0;
    margin-top: 5px;
    padding: 6px 18px;
    color: $color-orange;
    background-color: white;
    border: 1px solid lighten($color-gray, 25%);
    @include border-radius(3px);
    &:hover {
      border-color: $color-orange;
    }
  }

  @include at-breakpoint(760px) {
    padding: 0;

    .menu-btn {
      display: none;
    }

    .main-nav {
      float: right;
      padding: 0;
    }

  }

  @include at-breakpoint(1020px) {
    padding: 0;
    .logo {
      padding: rhythm(1) 0;
      @include adjust-font-size-to(28px);
    }
  }
  @include at-breakpoint($pad) {
    position: fixed;
    width: 100%;
  }
}

.affix {
  background-color: rgba( white, .93 );
  @include at-breakpoint($pad) {
    width: 100%;
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, .25));
  }
  @include at-breakpoint(1020px) {
    .logo {
      padding: 0;
      a {
        width: 130px;
      }
    }
    .main-nav {
      a {
        padding: 11px 16px;
      }
      .fb-page {
        margin: 8px 6px;
        padding: 0;
      }
      .phone {
        margin: 8px 6px;
        padding: 0 12px 0 40px;
      }
      .index,
      .about,
      .facebook,
      .msn,
      .google,
      .marketing,
      .contact,
      .english {
        &:after {
          display: none;
        }
        &:hover {
          span {
            top: 0;
          }
        }
      }
    }
  }
}
