.header {
  position: relative;
  z-index: 1000; // for cacaFly hero background.
  .logo {
    float: left;
    @include adjust-font-size-to(22px, 2);
    font-weight: bold;
    a {
      display: block;
      color: black;
      @include replace-text-with-svg("logo-small");
      @include at-breakpoint($desktop) {
        margin: auto;
        @include replace-text-with-svg("logo");
      }
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .menu-btn {
    float: right;
    margin: 0;
  }

  @include at-breakpoint($pad) {
    padding: 0;

    .menu-btn {
      display: none;
    }

    .main-nav {
      float: right;
      padding: 0;
    }

  }

  @include at-breakpoint($desktop) {
    padding: 0;
    .logo {
      padding: rhythm(1) 0;
      @include adjust-font-size-to(28px);
    }
  }

}

