@mixin nav-with-icon($icon, $icon-hover) {
  &:before {
  content: "";
  display: block;
  margin:0 auto 3px;
  @include replace-text-with-svg($icon);
  }
  &:hover {
    &:before {
      @include replace-text-with-svg($icon-hover);
    }
  }
}

.main-nav {
  @include reset-box-model;
  @include pie-clearfix;
  padding: 36px;
  ul {
    @include reset-box-model;
    list-style: none;
  }
  li {
    margin: .5em 0;
  }
  a {
    display: inline-block;
    padding: 0 6px; // for cacaFly.
    margin: 0 6px; // for cacaFly.
    color: lighten($main-nav-color, 10%);
    @extend %subpixel;
    @include adjust-font-size-to(16px);
    border-bottom: 2px solid transparent;
    @include transition(.5s);

    &:hover {
      color: $color-orange; // for cacaFly.
      text-decoration: none;
    }
    &.active {
      color: $color-brown; // for cacaFly.
    }
  }

  .pad-hide {
    display: inline;
  }

  // append-around
  .header & {
    display: none;
  }

  @include at-breakpoint($pad) {
    padding: 0 24px;
    text-align: center;
    li {
      display: block;
      float: left;
      margin: 0 .25em;
    }
    a {
      @include adjust-font-size-to(14px);
    }
    // append-around
    .outside & {
      display: none;
    }
    .header & {
      display: block;
    }
    .pad-hide {
      display: none;
    }
  }
  @include at-breakpoint($desktop) {
    a {
      @include adjust-font-size-to(14px);
    }
    .pad-hide {
      display: inline;
    }
    .about {
    @include nav-with-icon(nav-icon-about, nav-icon-about-hover);
    }
    .facebook {
      @include nav-with-icon(nav-icon-fb, nav-icon-fb-hover);
    }
    .msn {
      @include nav-with-icon(nav-icon-msn, nav-icon-msn-hover);
    }
    .google {
      @include nav-with-icon(nav-icon-google, nav-icon-google-hover);
    }
    .marketing {
      @include nav-with-icon(nav-icon-marketing, nav-icon-marketing-hover);
    }
    .contact {
      @include nav-with-icon(nav-icon-contact, nav-icon-contact-hover);
    }

  }
}



