.main-nav {
  @include reset-box-model;
  @include pie-clearfix;
  padding: 36px;
  ul {
    @include reset-box-model;
    list-style: none;
  }
  a {
    padding: 3px 9px; // for cacaFly.
    color: $main-nav-color;
    // font-style: italic; // for cacaFly.
    @extend %subpixel;
    @include adjust-font-size-to(16px);
    @include transition(.2s);

    &:hover {
      color: white; // for cacFly.
      text-decoration: none;
      background: rgba($color-orange, .9); // for cacaFly.
      @include border-radius(3px); // for cacaFly.
    }
  }

  // append-around
  .header & {
    display: none;
  }

  @include at-breakpoint($pad) {
    padding: 0 24px;
    text-align: center;
    li {
      display: block;
      float: left;
      margin: 0 .25em;
    }
    a {
      @include adjust-font-size-to(14px);
    }
    // append-around
    .outside & {
      display: none;
    }
    .header & {
      display: block;
    }
    .pad-hide {
      display: none;
    }
  }
  @include at-breakpoint($desktop) {
    .pad-hide {
      display: inline;
    }
  }
}



