@mixin nav-icon-animation($icon-name) {
  &:after {
    content: "";
    position: absolute;
    top: 64px;
    left: 50%;
    display: block;
    opacity: 0;
    margin-top: 3px;
    margin-left: -12px;
    @include replace-text-with-svg($icon-name);
    @include transition(.5s);
  }
  &:hover {
    &:after {
      top: 48px;
      opacity: 1;
    }
  }
}

.main-nav {
  @include reset-box-model;
  @include pie-clearfix;
  padding: 36px;
  ul {
    @include reset-box-model;
    list-style: none;
  }
  li {
    margin: .5em 0;
  }
  a {
    position: relative;
    display: inline-block;
    padding: 0 6px; // for cacaFly.
    margin: 0 6px; // for cacaFly.
    color: lighten($main-nav-color, 10%);
    @extend %subpixel;
    @include adjust-font-size-to(16px);
    border-bottom: 2px solid transparent;
    span {
      position: relative;
      top: 0;
      @include transition(.5s);
    }
    &:hover {
      color: $color-orange; // for cacaFly.
      text-decoration: none;
    }
    &.active {
      color: $color-brown; // for cacaFly.
    }
  }

  .fb-page, .phone {
    display: none;
  }

  .pad-hide {
    display: inline;
  }

  // append-around
  .header & {
    display: none;
  }

  @include at-breakpoint(860px) {
    padding: 0 24px;
    text-align: center;
    li {
      display: block;
      float: left;
      margin: 0 .25em;
    }
    a {
      padding: 12px 6px;
      @include adjust-font-size-to(14px);
    }
    // append-around
    .outside & {
      display: none;
    }
    .header & {
      display: block;
    }
    .pad-hide {
      display: none;
    }
  }
  @include at-breakpoint(1020px) {
    a {
      padding: rhythm(1.5) 6px;
      @include adjust-font-size-to(14px);
       &:hover {
        span {
          top: -15px;
        }
      }
    }
    .fb-page {
      display: block;
      margin: 32px 6px;
      padding: 0;
      background-color: #BBBBB7;
      @include replace-text-with-svg(nav-extra-icon-fb);
      border: none;
      @include border-radius(16px);
      @include transition(background-color .5s);
      &:hover {
        top: 0;
        background-color: $color-orange;
      }
    }
    .phone {
      display: block;
      position: relative;
      margin: 32px 6px;
      padding: 0 12px 0 40px;
      font-size: 14px;
      line-height: 32px;
      color: black;
      background-color: $color-lightgray2;
      border:none;
      @include border-radius(16px);
      @include transition(.5s);
      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 32px;
        height: 32px;
        @include replace-text-with-svg(nav-extra-icon-phone);
        background-color: #BBBBB7;
        @include border-radius(16px);
        @include transition(.5s);
      }
      &:hover {
        top: 0;
        &:before {
          background-color: $color-orange;
        }
      }
    }
    .pad-hide {
      display: inline;
    }
    .index {
      @include nav-icon-animation(nav-icon-index-hover);
    }
    .about {
      @include nav-icon-animation(nav-icon-about-hover);
    }
    .facebook {
      @include nav-icon-animation(nav-icon-fb-hover);
    }
    .msn {
      @include nav-icon-animation(nav-icon-msn-hover);
    }
    .google {
      @include nav-icon-animation(nav-icon-google-hover);
    }
    .marketing {
      @include nav-icon-animation(nav-icon-marketing-hover);
    }
    .contact {
      @include nav-icon-animation(nav-icon-contact-hover);
    }
    .english {
      @include nav-icon-animation(nav-icon-english-hover);
    }
  }
}



