// layout-debug
$grid-background-column-color: rgba(#f15a14,.2);
$grid-background-baseline-color: rgba(#009a8e,.3);


//======== Base Color ============
$color-darken-black: #252525;
$color-black: #444;
$color-gray: #999;
$color-lighter-gray: #f0f2f0;
$color-lightgray2: #f7f7f4;
// $color-blue: #369;
// $color-red: #b91910;
// $color-green: #8fbe3e;

//======== Web Colors =============
$color-brown: #7C5122;
$color-brown-light: #DCC0AA;
$color-red: #D83E32;
$color-orange: #F26522;
$color-yellow: #F99D1C;
$color-yellow-light: #FFE9A1;
$color-blue-dark: #5E6A73;
$color-blue-deep: #2779B7;
$color-blue: #62A1D1;
$color-ashblue: #92A3AC;
$color-ashblue-light: #D1DCE0;
$color-green-deep: #359900;
$color-green: #A3BF3A;
$color-green-light: #D7E385;


//======== Global Setting ========
// text
$global-color: $color-black;
$global-muted-color: lighten($global-color, 50%);

$global-link-color: $color-blue;
$global-link-hover-color: darken($color-blue, 20%);

// background & border
$global-background: white;
$global-spectail-block: #fafafa;
$global-divider: lighten(black, 90%);


//======== Typography ========
// font-size
$font-size-xxl: $base-font-size * 2;
$font-size-xl: $base-font-size * 1.5;
$font-size-l: $base-font-size * 1.25;
$font-size-m: $base-font-size * 1;
$font-size-s: $base-font-size * .875;
$font-size-xs: $base-font-size * .75;


//======== Partials ========
// main-nav
$main-nav-color: $global-color;

// header


// footer
$footer-bg-color: lighten(black, 20%);
$footer-title-color: invert($color-darken-black);
$footer-color: lighten(black, 80%);
$footer-divider-color: #515151;



// intro
$intro-title-color: $color-darken-black;


// block


// item
$item-title-color: $color-darken-black;
$item-color: $global-color;


// action-bar
$action-bar-bg: $color-green;
$action-bar-color: white;


// page-header
$page-header-color: white;
