.zoom-animation {
  @for $i from 1 through 6 {
    $delay-time: $i / 10 * 1.5;
    .col:nth-child(#{$i}) {
      opacity: 1;
      @include scale(1);
      @include transition(transform .25s, opacity .25s);
      @include transition-delay("#{$delay-time}s");
    }
  }
  &.standby {
   .col {
      opacity: 0;
      @include scale(.65);
    }
  }
}

.slideup-animation {
  @for $i from 1 through 6 {
    $delay-time: $i / 10 * 1.5;
    .col:nth-child(#{$i}) {
      opacity: 1;
      @include translateY(0px);
      @include transition(transform .25s, opacity .25s);
      @include transition-delay("#{$delay-time}s");
    }
  }
  &.standby {
   .col {
      opacity: 0;
      @include translateY(50px);
    }
  }
}