.page-header {
  padding: rhythm(1) 0;
  color: $color-orange;
  text-align: center;
  border-top: 1px dotted $color-orange;
  border-bottom: 1px dotted $color-black-20;

  .page-header-title {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    @extend %subpixel;
    small {
      white-space: nowrap;
    }
  }

  .page-header-text {
    @include adjust-font-size-to(14px, 4/5);
    max-width: 30em;
    margin: rhythm(.5) auto 0;
  }

  @include at-breakpoint($pad) {
    padding: rhythm(1.5) 0;
    .page-header-title {
      font-size: 24px;
      line-height: 1em;
      @extend %subpixel;
    }
    .page-header-text {
      @include adjust-font-size-to(16px);
    }

  }

}