.page-header {
  position: relative;
  @include padding-leader(1.25);
  @include padding-trailer(2);
  .page-header-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: lighten($color-gray, 35%);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .2) image-url("banner-mask.png") repeat;
    }
  }
  .container {
    position: relative;
    z-index: 1000;
  }
  .page-header-content {
    max-width: 40em;
    margin: 0 auto;
    @include trailer(1);
    text-align: center;
  h1 {
    @include trailer(.75);
    @include adjust-font-size-to(28px, 1.25);
    line-height: 1.5em;
    color: $intro-title-color;
    font-weight: bold;
  }

  h2 {
    @include trailer(.75);
    font-size: 20px;
    line-height: 1.5em;
    color: $intro-title-color;
  }

  h3 {
    @include trailer(.75);
    font-size: 16px;
    line-height: 1.1em;
    color: $intro-title-color;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
    @include leader(0);
    color: $intro-title-color;
    font-weight: bold;
  }

  @include at-breakpoint($pad) {
    h2 {
      font-size: 30px;
      @include trailer(1);
    }
    h3 {
      font-size: 24px;
      @include trailer(1);
    }
    p {

    }

  } // end pad

  @include at-breakpoint($desktop) {
    h1 {
      @include adjust-font-size-to(32px, 2);
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }

  } // end desktop

}
@include at-breakpoint($pad) {
  @include padding-leader(1.5);
  @include padding-trailer(2.25);
}

}