.lightgray-block {
  background-color: #f7f7f4;
}

@mixin block-background-style($color) {
  color: white;
  background-color: desaturate($color, 10%);
  background-image: url(/images/block-mask.png);
  @include background-size(cover);
  background-position: center;
}

.orange-block {
  @include block-background-style($color-orange);
}

.red-block {
  @include block-background-style($color-red);
}

.yellow-block {
  @include block-background-style($color-yellow);
}

.blue-dark-block {
  @include block-background-style($color-blue-dark);
}

.blue-deep-block {
  @include block-background-style($color-blue-deep);
}

.blue-mid-block {
  @include block-background-style($color-blue-deep);
  background-color: $color-blue-deep;
}

.blue-block {
  @include block-background-style($color-blue);
}

.ashblue-block {
  @include block-background-style($color-ashblue);
}

.green-deep-block {
  @include block-background-style($color-green-deep);
}