.icon-style {
  .item {
    margin-bottom: rhythm(1);
  }
  .item-content {
    padding-top: rhythm(.25);
  }
}

.vhr-style {
  .items {
    position: relative;
    .item {
      @include trailer(1);
    }
    .item-content {
      text-align: center;
    }
  }
  @include at-breakpoint($desktop) {
    padding: 0 rhythm(4);
  }
}

.card-style {
  .items {
    padding: 24px 24px 12px;
    background-color: rgba(black, .05);
    @include border-radius(3px);
    @include box-shadow(0px 0px 3px rgba($color-blue-dark, .2));
    @include transition(background-color .25s);
    .item {
      @include trailer(1);
    }
    .item-content {
      color: $color-black;
      text-align: center;
    }
  }
  @include at-breakpoint($desktop) {
    .items {
      padding: 24px 36px 0px;
    }
  }
}

.card-link-style {
  .items {
    @include box-sizing(border-box);
    margin: 0 auto;
    padding: 30px 36px 12px;
    border: 3px solid transparent;
    background-color: rgba(black, .1);
    @include border-radius(3px);
    @include box-shadow(0px 3px 5px rgba(black, .15));
    @include transition(.25s);
    &:hover {
      background-color: rgba(black, .25);
      text-decoration: none;
    }
    .item {
      @include trailer(1);
    }
    .item-image {
      img {
        margin-bottom: 0;
      }
    }
    .item-content {
      color: white;
      text-align: center;
    }
    .item-readmore {
      padding-top: 10px;
      color: $color-yellow;
      border-top: 1px solid rgba(white ,0.15);
    }
  }
  @include at-breakpoint($pad) {
    .items {
      margin: 0;
    }
  }
}

.image-text-style {
  .items {
    .item {
      margin-bottom: 0;
    }
  }
  @include at-breakpoint($desktop) {
    padding: 0 rhythm(4);
  }
}