.lightgray-block {
  background-color: #f7f7f4;
}

.orange-block {
  color: white;
  background-color: desaturate($color-orange, 10%);
  @extend %subpixel;
}

.red-block {
  color: white;
  background-color: desaturate($color-red, 10%);
}

.yellow-block {
  color: white;
  background-color: desaturate($color-yellow, 10%);
}

.blue-dark-block {
  color: white;
  background-color: $color-blue-dark;
}

.blue-deep-block {
  color: white;
  background-color: desaturate($color-blue-deep, 15%);
}

.blue-block {
  color: white;
  background-color: desaturate($color-blue, 10%);
}

.ashblue-block {
  color: white;
  background-color: desaturate($color-ashblue, 10%);
}

.green-deep-block {
  color: white;
  background-color: $color-green-deep;
}