.sub-nav {
  position: relative;
  .sub-nav-trigger {
    position: absolute;
    top: 0;
    right: 0;
    margin: rhythm(.6);
    border: 7px solid transparent;
    border-top-color: lighten(black, 20%);
    &.open {
      top: -7px;
      border-top-color: transparent;
      border-bottom-color: lighten(black, 20%);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lighten(black, 90%);
  }
  li {
    display: none;
    padding: 0 12px;
    @include adjust-font-size-to($font-size-s, 1.5);
    background-color: lighten(black, 95%);
    a {
      color: lighten(black, 20%)
    }
  }
  li.onpage {
    display: block;
  }
  &.open li {
    display: block;
  }
}
@include at-breakpoint($pad) {
  .sub-nav {
    .sub-nav-trigger {
      display: none;
    }
    ul {}
    li {
      display: inline-block;
      padding : 0;
      background-color: transparent;
      &:after {
        content: "ï½œ";
        color: lighten(black, 70%);
      }
      a {
        padding: 0 6px;
      }
    }
    li:last-child {
      &:after {
        display: none;
      }
    }
    li.onpage {
      display: inline-block;
    }
  }
}