.sub-nav {
  position: relative;
  z-index: 100;
  text-align: center;
  background-color: lighten(black, 85%);
  .sub-nav-title {
    display: block;
    @include adjust-font-size-to(14px, 1.5);
    color: $color-black;
    text-decoration: none;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      margin: rhythm(.6);
      border: 7px solid transparent;
      border-top-color: lighten(black, 20%);
    }
    &.open:after {
      top: -7px;
      border-top-color: transparent;
      border-bottom-color: lighten(black, 20%);
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: none;
    padding: 0 12px;
    @include adjust-font-size-to(14px, 1.5);
    background-color: lighten(black, 95%);
    a {
      display: block;
      color: lighten(black, 20%)
    }
  }
  &.open li {
    display: block;
  }
}
@include at-breakpoint($pad) {
  .sub-nav {
    .sub-nav-title {
      display: none;
    }
    ul {}
    li {
      position: relative;
      display: inline-block;
      padding : 0;
      @include adjust-font-size-to(16px, 1.5);
      background-color: transparent;
      a {
        padding: 0 12px;
      }
    }
    li.active {
      background-color: $color-gray;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -8px;
        border: 8px solid transparent;
        border-top: 8px solid $color-gray;
      }
    }
  }
}