.main-title {
  @include trailer(2);
  @include adjust-font-size-to(22px, 1.5);
  text-align: center;
  @include at-breakpoint($pad) {
    @include adjust-font-size-to(34px);
  }
}
.main-sub-title {
  @extend %subpixel;
  display: block;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  opacity: .65;
  &:before {
    content: "－";
  }
  &:after {
    content: "－";
  }
}