.ceo-intro {
  max-width: 50em;
  margin: 0 auto;
  .item {
    padding: 36px;
    background-color: white;
    border-bottom: 2px solid $color-lighter-gray;
    .item-title {
      @include adjust-font-size-to(24px);
    }
    .item-image {
      img {
        max-width: 280px;
        height: auto;
        margin: 0 auto;
      }
    }
    .item-content {
      max-width: 280px;
      margin: 0 auto;
    }
  }
  @include at-breakpoint($wide-mobile) {
    .item {
      .item-image {
        img {
          max-width: 220px;
          height: auto;
          margin: 0 auto;
        }
      }
      .item-content {
        max-width: none;
        margin: 0 auto;
      }
    }
  }
  @include at-breakpoint($pad) {
    .item {
      .item-image {
        img {
          max-width: 250px;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
}

.positive {
  .item-content {
    text-align: center;
    ul {
      text-align: left;
    }
  }
  @include at-breakpoint($pad) {
    .item-text {
      p {
        min-height: 72px;
      }
    }
  }
  @include at-breakpoint($desktop) {
    .item-content {
      p {
        min-height: 48px;
      }
    }
  }
}

.positive-list {
  margin: 0;
  padding: 0 24px;
  list-style: disc;
  li {
    margin: 6px 0;
  }
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ad-flow {
  position: relative;
  @include trailer(4);
  .ad-flow-step {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80%;
    @include replace-text-with-svg("ad-flow-step-mobile");
    height: auto;
    @include background-size(contain);
  }
  .col {
    @include box-sizing(border-box);
    position: relative;
    max-width: 80%;
    padding: 24px;
    color: white;
    background-color: desaturate($color-blue-deep, 15%);
    background-image: url(/images/block-mask.png);
    @include background-size(cover);
    background-position: center;
    @include border-radius(5px);
    &:after {
      content: "";
      position: absolute;
      top: 102%;
      right: 50%;
      margin-right: -15px;
      border: 15px solid transparent;
      border-top-color: $color-blue-deep;
    }
    &:nth-child(3) {
      &:after {
        display: none;
      }
    }
  }
  .item {
    @include trailer(1);
  }
  .item-title {
    span {
      position: absolute;
      bottom: -28px;
      right: 0;
      font-size: 42px;
      line-height: 48px;
      font-weight: bold;
      color: darken($color-blue-deep, 12.5%);
    }
  }
  @include at-breakpoint($pad) {
    .ad-flow-step {
      top: auto;
      bottom: -80px;
      left: auto;
      @include replace-text-with-svg("ad-flow-step");
      width: 100%;
      @include background-size(contain);
    }
    .col {
      &:after {
        top: 50%;
        right: -35px;
        margin-top: -15px;
        margin-right: 0;
        border: 15px solid transparent;
        border-left-color: $color-blue-deep;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.big-events {
  position: relative;
  ul {
    list-style: none;
    @include pie-clearfix;
    padding-left: 0;
  }
  .timeline {
    position: absolute;
    top: -10px;
    bottom: -5px;
    left: 50%;
    width: 6px;
    margin-left: -3px;
    @include background(linear-gradient(top, white, lighten($color-yellow, 30%)));
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -4px;
      width: 14px;
      height: 14px;
      background-color: white;
      @include border-radius(10px);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -7px;
      border: 10px solid transparent;
      border-top-color: lighten($color-yellow, 30%);
    }
  }
  li.eventgroup {
    position: relative;
    padding: 12px;
    margin: 12px 0;
    color: black;
    background-color: white;
    @include border-radius(5px);
    @include box-shadow(0px 1px 3px rgba(black, .25));
    ul {
      list-style-type: disc;
      padding-left: 24px;
    }
  }
  .year {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
    color: $color-orange;
  }
  @include at-breakpoint($pad) {
    li.eventgroup {
      float: left;
      width: 45%;
      margin: 6px 0;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -20px;
        margin-top: -10px;
        border: 10px solid transparent;
        border-left-color: white;
      }
      &:nth-child(even) {
        float: right;
        &:before {
          left: -20px;
          right: auto;
          border: 10px solid transparent;
          border-right-color: white;
        }
      }
    }
  }
  @include at-breakpoint($desktop) {
    margin: 24px;
  }
}
.member {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  @include perspective(1500px);
  .member-photo {
    @include box-sizing(border-box);
    position: relative;
    z-index: 1;
    height: 370px;
    padding: 36px;
    background-color: white;
    border-bottom: 2px solid $color-lighter-gray;
    @include transition(.5s);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    .item-image {
      position: relative;
      img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
    .item-title {
      text-align: center;
    }
    .item-content {
      padding: 6px 0;
      text-align: left;
    }
    .item-title {
      @include trailer(.5);
    }
    @include at-breakpoint($pad) {
      .item-title {
        font-size: 16px;
      }
    }
    @include at-breakpoint($desktop) {
      .item-title {
        font-size: 20px;
      }
    }
  }
  .member-intro {
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    left: 0;
    height: 370px;
    padding: 24px;
    background-color: white;
    border-bottom: 2px solid $color-lighter-gray;
    @include rotateY(180deg);
    @include transition(.5s);
    .item-image {
      img {
        max-width: 80px;
        height: auto;
      }
    }
    .item-title {
      text-align: center;
    }
    .joinus-btn {
      display: block;
    }
  }
  &:hover {
    .member-photo {
      @include rotateY(-180deg);
    }
    .member-intro {
      @include rotateY(0deg);
    }
  }
}

.team-photo-block {
  @include padding-leader(2);
  .team-photo {
    width: 100%;
    height: 320px;
    background-position: 50% 50%;
    background-size: cover;
    @include at-breakpoint($pad) {
      height: 560px;
    }
  }
  .team-photo-desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .5);
  }
}