.contact-map {
  margin-bottom: rhythm(.5);
  .google-map {
    position: relative;
    padding-top: 67.5%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.contact-info {
  padding-left: 0;
  list-style: none;
  margin: 0;
  .address {
    margin-bottom: rhythm(.5);
  }
}
.contact-form {
  max-width: 40em;
  margin: 0 auto rhythm(2);
  padding: rhythm(1);
  background-color: lighten(black, 97%);
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
    @include box-sizing(border-box);
  }
  .submit {
    width: 100%;
    color: white;
    @include leader(1);
    padding: 12px 0;
    border: none;
    background-color: $color-orange;
    &:hover {
      background-color: saturate($color-orange, 10%);
    }
  }
}
.col.contact-form-unit {
  margin-bottom: 0;
}
@include at-breakpoint($pad) {
  .contact-form {
    padding: rhythm(2);
    input {
      width: 90%;
    }
    textarea {
      width: 100%;
    }
  }
}