.contact-banner {
  background-image: image-url("contact-banner-bg.jpg");
}
.item.location {
  @include trailer(1);
}
.location {
  .contact-map {
    margin-bottom: rhythm(.5);
    .map-wrap {
      position: relative;
      padding-top: 67.5%;
      .google-map {
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .contact-info {
    margin: rhythm(1);
    .item-title {
      padding-bottom: 11px;
      font-size: 24px;
      // color: $color-orange;
      border-bottom: 1px solid $global-divider;
    }
    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
      font-size: 14px;
    }
    .phone {
      display: inline-block;
    }
    .address {
      margin-bottom: rhythm(.5);
    }
  }
}

.contact-form {
  padding: rhythm(1) 0;
  color: white;
  background-color: lighten(black, 25%);
  @include pie-clearfix;
  .contact-input {
    @include reset-box-model;
    @include box-sizing(border-box);
    width: 100%;
    height: 34px !important;
    padding: 0 6px;
  }
  .contact-text {
    @include reset-box-model;
    @include box-sizing(border-box);
    width: 100%;
    min-height: 218px;
    padding: 6px;
  }
  select {
    @include reset-box-model;
    @include box-sizing(border-box);
    width: 100%;
    height: 34px;
    padding: 8px 0;
  }
  textarea {
    resize: none;
  }
  .submit {
    position: relative;
    width: 100%;
    padding: 12px 0;
    color: white;
    border: none;
    background-color: $color-blue-dark;
    @include transition(background-color .5s);
    @include border-radius(5px);
    &:hover {
      background-color: $color-blue-deep;
    }
  }
}
.col.contact-form-unit {
  margin-bottom: 0;
}
@include at-breakpoint($pad) {
  .location {
    .contact-info {
      ul {
        font-size: 16px;
      }
    }
  }

  .contact-form {
    padding: rhythm(1) rhythm(2);
    .submit {
      height: 218px;
      padding: 128px 48px 0;
    }
    .sent {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-top: -72px;
        margin-left: -64px;
        @include replace-text-with-svg("contact-form-sent");
      }
    }
  }
}