.facebook-number {
  .col {
    @include box-sizing(border-box);
    margin-bottom: 48px;
    text-align: center;
    border-bottom: 1px solid $global-divider;
    &:last-child {
      border: none;
    }
    .items {
      .item {
        margin-bottom: 0;
      }
    }
  }

  .marketing-number {
  color: $color-blue-deep;
    .count {
      padding-right: 6px;
      font-size: 60px;
      line-height: 72px;
      font-weight: bold;
    }
    .unit {
      position: relative;
      top: -2px;
      font-size: 24px;
    }
  }

  .marketing-desc {
    @include trailer(.5);
  }

  @include at-breakpoint($pad) {
    .col {
      border-bottom: none;
      border-right: 1px solid $global-divider;
    }
  }
}

.fb-card-style {
  min-height: 280px;
  padding: 36px 36px 0;
  background-color: white;
  @include border-radius(5px);
  @include box-shadow(0px 1px 3px rgba($color-blue-dark, .2));
  .item {
    @include trailer(1);
  }
  .item-content {
    text-align: center;
  }
}

.chart-label {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-color: $color-ashblue;
}