.facebook-number {
  .col {
    @include box-sizing(border-box);
    margin-bottom: 48px;
    text-align: center;
    border-bottom: 1px solid $global-divider;
    &:last-child {
      border: none;
    }
    .items {
      .item {
        margin-bottom: 0;
      }
    }
  }

  .marketing-number {
  color: white;
    .count {
      padding-right: 6px;
      font-size: 60px;
      line-height: 72px;
      font-weight: bold;
    }
    .unit {
      position: relative;
      top: -2px;
      font-size: 24px;
    }
  }

  .marketing-desc {
    @include trailer(.5);
  }

  @include at-breakpoint($pad) {
    .col {
      border-bottom: none;
      border-right: 1px solid $global-divider;
    }
  }
}

.chart-label {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-color: $color-ashblue;
}