.home {
  .header {
    background-color: rgba(white, .95);
  }
}

.post-preview {
  position: relative;
  display: block;
  vertical-align: top;
  .preview-photo {
    position: relative;
    padding-top: 62.5%;
    height: 0;
    background-color: $color-gray;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .preview-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(black, .35);
    .preview-content-inner {
      padding: rhythm(.5);
      @include transition(.25s);
    }
  }
  .preview-date {
    @include adjust-font-size-to(12px, .75);
    font-weight: bold;
    color: lighten($color-gray, 20%);
  }
  .preview-title {
    @include ellipsis;
    @include adjust-font-size-to(14px, .75);
  }
  &:hover .preview-title {
    white-space: normal;
    overflow: visible;
  }
  @include at-breakpoint($pad) {
    .preview-title {
      @include adjust-font-size-to(16px, 1);
    }
  }
}

.hero-photo {
  width: 100%;
  height: 240px;
  background-position: 50% 50%;
  background-size: cover;
  @include at-breakpoint($pad) {
    height: 360px;
  }
}

.agent {
  margin-bottom: 12px;
  .block-header {
    margin-bottom: 24px;
  }
  .main-sub-title {
    @include adjust-font-size-to(20px);
  }
  .agent-logo {
    margin: 0 24px;
    text-align: center;
    img {
      display: inline-block;
      padding: 3px 18px;
    }
  }
}

.privacy {
  width: 100%;
  margin: 0 auto 72px auto;
  @include at-breakpoint($pad) {
    width: 70%;
  }
}
